html {
   background-color: red;
}

p {
   background-color: orange;
}

span {
   background-color: green;
}

li {
   background-color: pink;
}

@media only screen and (min-device-width:0px) and (max-device-width:736px) {
   html {
      background-color: yellow;
   }
}

@media only screen and (min-device-width:737px) and (max-device-width:1024px) {
   html {
      background-color: blue;
   }
}
